<h1>アーティストを追加</h1>

<%= form_with model: [@timetable, @artist], url: timetable_artists_path(params[:timetable_id]), local: true do |form| %>
<div>
    <%= form.label :name, "Artist Name" %>
    <%= form.text_field :name %>
</div>
<div>
    <%= form.label :start_time, "Start Time" %>
    <%= form.time_select :start_time %>
</div>
<div>
    <%= form.label :end_time, "End Time" %>
    <%= form.time_select :end_time %>
</div>
<div>
    <%= form.label :notes, "Notes" %>
    <%= form.text_area :notes %>
</div>
<div>
    <%= form.label :stage_id, "Select Existing Stage" %>
    <%= form.collection_select :stage_id, @stages, :id, :name, prompt: "Choose a Stage" %>
</div>
<div>
    <%= form.label :new_stage_name, "Or Add a New Stage" %>
    <%= text_field_tag :new_stage_name %>
</div>
<%= form.submit %>
<% end %>

<%= link_to "キャンセル", timetable_path(@timetable) %>